node_modules
dist
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.DS_Store
*.log
*.tsbuildinfo

# Environment files
.env
.env.local
!.env.example

# Cloudflare tunnel credentials
.cloudflared/*.json

# ignore gitpmoji directory
.gitpmoji

# ignore .cursorignore
.cursorignore